p1 {
    margin: 0px; 
    color: green; 
    text-decoration: underline;
    font-family:  'jost'; 
    font-weight: bold;  
}

p2 {
    color: red;
    font-size:6;
    font-weight: bold;

}

p3 {
    text-decoration: underline;
}
   
p4 {
    text-decoration: overline;
}

p5 {
    font-weight: bold;
    font-size: 50px;
    text-align: justify;
}

p6 {
    color: blue;
}

p7 {
    color: red;
    text-decoration: underline;
}

div {
    margin: 50px 150px;
    line-height: 55px;
    letter-spacing: -0.64px;
}