p1{
    font-size: 30px;
    color: black;
}

p2{
    font-size: 30px;
    color: yellow;
    text-decoration: underline;
}

p3{
    font-size: 30px;
    color: purple;
    text-decoration: underline;
}

div{
    margin: 50px 200px;
    line-height: 55px;
    letter-spacing: -0.64px;
}